{% extends 'base.html' %}
{% block title %} نتیجه جستجو {% endblock %}

{% block content %}
<h3 class="aler alert-primary text-center" style="padding:10px">جستجو: {{ search }}</h3>
{% for object in  object_list%}
<h3>{{ object.title }}</h3>
<time>{{ object.jpublish }}</time>
<p>{{ object.hits.count }} بازدید</p>
{{ object.body|safe }}
<p>{{ object.writer }} :نوشته شده توسط</p><hr/>
<a href="{% url 'myblog:article_update' object.id %}" class="btn btn-primary">ویرایش مقاله</a>
{% if request.user.is_superuser %}
<a href="{% url 'myblog:article_delete' object.id %}" class="btn btn-primary">حذف مقاله</a>
<br/><br/>
{% endif %}
{% empty %}
<br/><p>متاسفانه مقاله ای با این محتوا وجود ندارد.</p>
{% endfor %}
{% endblock %}